*{
    font-family: Arial;
}
body {
    background-image:url("imagens/fundo.png");
    text-align: justify;
    margin-left: 20%;
    margin-right: 20%;

}
blockquote, q {
    font-style: italic;
}
h1 {
    margin-bottom: 30px;
    font-family: 'Times New Roman';
    color:limegreen;
    font-size: 28px;
}
h2 {
    margin-bottom: 30px;
    font-family: 'Times New Roman';
    color:limegreen;
    font-size: 24px;
}
p{
    font-family: "Arial";
}
img{
    border: solid;
    border-color: limegreen;
    border-width: 4px;
    width: 405px;
    height: 270px;

}
table{
    border-collapse: collapse;
    border: 2px solid silver;
    margin: 0 auto;
    text-align: center;
    width: 600px;
    height: 350px;
}
th,td{
    border-collapse: collapse;
    border: 2px solid silver;
    margin: 0 auto;
}